@font-face {
    font-family: "TMVinograd-Regular";
    src: url(../font/TMVinograd-Regular.otf);
}

@font-face {
    font-family: "Engine";
    src: url(../font/LEngineer-Regular.otf);
}

@font-face {
    font-family: "NotoSans";
    src: url(../font/NotoSansDisplay-VariableFont_wdth\,wght.ttf);
}

body{background-color: #c9ffb9;}

header{background-color: #77966E;}

h1{color: #FFC0A1;
    font-size: 96px;
    font-family: "Engine";
    font-weight: lighter;}

h2{background-color: #D4AE9B;
    color: #543424;
    font-size: 48px;
    font-family: "Engine";
    font-weight: lighter;}

p{color: #543424;
    font-size: 24px;
    font-family:"NotoSans";}

.example{font-size: 20px;
    background-color: #e4d8c7;
    border-color: #543424;
    width:fit-content;
    margin-left: 100px;}

h3 {background-color: #F0BA7D;
    width: fit-content;
    margin: 25px auto;}
h4 {background-color: #CADADD;
    width: fit-content;
    margin: 0 auto;}

#Task2_1{background-color: #F0BA7D;
    width: fit-content;
    margin: 25px auto;}
#Task2_2{background-color: #CADADD;
    width: fit-content;
    margin: 50px auto;}

#Task3_1{background-color: #F0BA7D;
    width: fit-content;
    margin: 25px auto;}
#Task3_2{background-color: #CADADD;
    width: fit-content;
    margin: 50px auto;
    padding: 10px 25px 20px;}


a[href="css.html"]{background-color: #D4AE9B;
    color: #543424;
    font-size: 48px;
    font-family: "Engine";
    font-weight: lighter;}